<section>
  <div class="container">
      <h3 class="mt-3 text-danger">
        {{'CONTACT.HEADER' | translate}}
      </h3>
      <hr>
      <div class="row">
        <div class="col-md-6 embed-responsive embed-responsive-16by9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.108645220288!2d77.53818491413577!3d13.02875281714844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d6b13bf2539%3A0xbeab2428e60b3fac!2s2221%2C+Tumkur+Rd%2C+Yeshwanthpur+Industrial+Area%2C+Phase+1%2C+Yeshwanthpur%2C+Bengaluru%2C+Karnataka+560022!5e0!3m2!1sen!2sin!4v1447850039282"
                  width="600"
                  height="450"
                  frameborder="0"
                  style="border:0"
                  allowfullscreen
                  class="embed-responsive-item">
          </iframe>
        </div>
        <div class="col-md-6">
          <h6>{{'CONTACT.ADDRESS_KEY' | translate}}</h6>
          <p>{{'CONTACT.ADDRESS_VALUE' | translate}}</p>
          <h6>{{'CONTACT.ISO' | translate}}</h6>
          <h6>{{'CONTACT.PHONE_KEY' | translate}}</h6>
          <p>{{'CONTACT.PHONE_VALUE' | translate}}</p>
          <h6>{{'CONTACT.MARKETING_KEY' | translate}}</h6>
          <p>{{'CONTACT.MARKETING_VALUE' | translate}}</p>
          <h6>{{'CONTACT.SPARES_KEY' | translate}}</h6>
          <p>{{'CONTACT.SPARES_VALUE' | translate}}</p>
          <h6>{{'CONTACT.FAX_KEY' | translate}}</h6>
          <p>{{'CONTACT.FAX_VALUE' | translate}}</p>
          <h6>{{'CONTACT.EMAIL_KEY' | translate}}</h6>
          <p>{{'CONTACT.EMAIL_VALUE' | translate}}</p>
        </div>
      </div>

  </div>
</section>
