<section>
  <div class="container">
    <h4 class="display-4">
      {{'COMPANY_PROFILE.HEADER' | translate}}
    </h4>
    <hr>
    <h4>
      {{'COMPANY_PROFILE.TITLE' | translate}}
    </h4>
    <img src="assets/images/company_profile1.jpg" alt="" class="img-fluid">
    <br>
    <br>
    <p class="justify-content-center">
      <strong>
        {{'COMPANY_PROFILE.DESCRIPTION_BOLD' | translate}}
      </strong>
    </p>
    <p>
      {{'COMPANY_PROFILE.DESCRIPTION_NORMAL1' | translate}}
    </p>
    <p>
      {{'COMPANY_PROFILE.DESCRIPTION_NORMAL2' | translate}}
    </p>
    <p>
      {{'COMPANY_PROFILE.DESCRIPTION_NORMAL3' | translate}}
    </p>
    <p>
      {{'COMPANY_PROFILE.DESCRIPTION_NORMAL4' | translate}}
    </p>
    <p>
      {{'COMPANY_PROFILE.DESCRIPTION_NORMAL5' | translate}}
    </p>
    <p>
      {{'COMPANY_PROFILE.DESCRIPTION_NORMAL6' | translate}}
    </p>
    <br>
  </div>
</section>
