<section>
  <div class="container">
    <h3 class="mt-3 text-danger">
      {{'ROUTINE_TESTS.TITLE' | translate}}
    </h3>
    <hr>
    <img src="assets/images/routine_tests.jpg" alt="" class="img-fluid">
    <br>
    <br>

    <h5>{{'ROUTINE_TESTS.SUB_HEADER1.HEADER' | translate}}</h5>
    <h5>{{'ROUTINE_TESTS.SUB_HEADER1.STANDARDS' | translate}}</h5>
    <h6>{{'ROUTINE_TESTS.TESTS_CONDUCTED' | translate}}</h6>
    <ol>
      <li>{{'ROUTINE_TESTS.SUB_HEADER1.DESCRIPTION1' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER1.DESCRIPTION2' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER1.DESCRIPTION3' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER1.DESCRIPTION4' | translate}}</li>
    </ol>

    <h5>{{'ROUTINE_TESTS.SUB_HEADER2.HEADER' | translate}}</h5>
    <h5>{{'ROUTINE_TESTS.SUB_HEADER2.STANDARDS' | translate}}</h5>
    <h6>{{'ROUTINE_TESTS.TESTS_CONDUCTED' | translate}}</h6>
    <ol>
      <li>{{'ROUTINE_TESTS.SUB_HEADER2.DESCRIPTION1' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER2.DESCRIPTION2' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER2.DESCRIPTION3' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER2.DESCRIPTION4' | translate}}</li>
    </ol>

    <h5>{{'ROUTINE_TESTS.SUB_HEADER3.HEADER' | translate}}</h5>
    <h5>{{'ROUTINE_TESTS.SUB_HEADER3.STANDARDS' | translate}}</h5>
    <h6>{{'ROUTINE_TESTS.TESTS_CONDUCTED' | translate}}</h6>
    <ol>
      <li>{{'ROUTINE_TESTS.SUB_HEADER3.DESCRIPTION1' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER3.DESCRIPTION2' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER3.DESCRIPTION3' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER3.DESCRIPTION4' | translate}}</li>
    </ol>

    <h5>{{'ROUTINE_TESTS.SUB_HEADER4.HEADER' | translate}}</h5>
    <h5>{{'ROUTINE_TESTS.SUB_HEADER4.STANDARDS' | translate}}</h5>
    <h6>{{'ROUTINE_TESTS.TESTS_CONDUCTED' | translate}}</h6>
    <ol>
      <li>{{'ROUTINE_TESTS.SUB_HEADER4.DESCRIPTION1' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER4.DESCRIPTION2' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER4.DESCRIPTION3' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER4.DESCRIPTION4' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER4.DESCRIPTION5' | translate}}</li>
    </ol>

    <h5>{{'ROUTINE_TESTS.SUB_HEADER5.HEADER' | translate}}</h5>
    <h5>{{'ROUTINE_TESTS.SUB_HEADER5.STANDARDS' | translate}}</h5>
    <h6>{{'ROUTINE_TESTS.TESTS_CONDUCTED' | translate}}</h6>
    <ol>
      <li>{{'ROUTINE_TESTS.SUB_HEADER5.DESCRIPTION1' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER5.DESCRIPTION2' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER5.DESCRIPTION3' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER5.DESCRIPTION4' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER5.DESCRIPTION5' | translate}}</li>
    </ol>

    <h5>{{'ROUTINE_TESTS.SUB_HEADER6.HEADER' | translate}}</h5>
    <h5>{{'ROUTINE_TESTS.SUB_HEADER6.STANDARDS' | translate}}</h5>
    <h6>{{'ROUTINE_TESTS.TESTS_CONDUCTED' | translate}}</h6>
    <ol>
      <li>{{'ROUTINE_TESTS.SUB_HEADER6.DESCRIPTION1' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER6.DESCRIPTION2' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER6.DESCRIPTION3' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER6.DESCRIPTION4' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER6.DESCRIPTION5' | translate}}</li>
    </ol>

    <h5>{{'ROUTINE_TESTS.SUB_HEADER7.HEADER' | translate}}</h5>
    <h5>{{'ROUTINE_TESTS.SUB_HEADER7.STANDARDS' | translate}}</h5>
    <h6>{{'ROUTINE_TESTS.TESTS_CONDUCTED' | translate}}</h6>
    <ol>
      <li>{{'ROUTINE_TESTS.SUB_HEADER7.DESCRIPTION1' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER7.DESCRIPTION2' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER7.DESCRIPTION3' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER7.DESCRIPTION4' | translate}}</li>
      <li>{{'ROUTINE_TESTS.SUB_HEADER7.DESCRIPTION5' | translate}}</li>
    </ol>
  </div>
</section>
