<footer style="background-color: #3f4144;" class="text-light">
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-4 border border-warning pt-2 mb-4">
        <h5 class="text-warning"><i class="fas fa-microphone"></i> CUSTOMER SUPPORT</h5>
        <p>Monday-Saturday : 8:00 AM - 04:30 PM</p>
      </div>
      <div class="col-md-4 border border-warning pt-2 mb-4">
        <h5 class="text-warning"><i class="fas fa-location-arrow"></i> ADDRESS</h5>
        <p>P.B. No. 2221, Tumkur Road, Yeshwanthpur, Bangalore-560022, KARNATAKA, INDIA.</p>
      </div>
      <div class="col-md-4 border border-warning pt-2 mb-4">
        <h5 class="text-warning"><i class="fas fa-phone-square"></i> QUICK CONTACT</h5>
        <p class="mb-0">Phone: +91 080 - 23376851</p>
        <p class="mb-0">Fax: +91 080-23371811</p>
        <p>Email: mei1md@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
