<footer style="background-color: #3f4144;" class="text-light mt-3">
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-4 border border-warning pt-2 mb-4">
        <h5 class="text-warning"><i class="fas fa-microphone"></i> {{'FOOTER.CUSTOMER_SUPPORT' | translate}}</h5>
        <p>{{'FOOTER.TIMINGS' | translate}}</p>
      </div>
      <div class="col-md-4 border border-warning pt-2 mb-4">
        <h5 class="text-warning"><i class="fas fa-location-arrow"></i> {{'FOOTER.ADDRESS' | translate}}</h5>
        <p>{{'FOOTER.ADDRESS1' | translate}}</p>
      </div>
      <div class="col-md-4 border border-warning pt-2 mb-4">
        <h5 class="text-warning"><i class="fas fa-phone-square"></i> {{'FOOTER.QUICK_CONTACT' | translate}}</h5>
        <p class="mb-0">{{'FOOTER.PHONE' | translate}}</p>
        <p class="mb-0">{{'FOOTER.FAX' | translate}}</p>
        <p>{{'FOOTER.EMAIL' | translate}}</p>
      </div>
    </div>
  </div>
</footer>
