<section>
  <div class="container">
    <h3 class="text-danger mt-3">
          {{'ABOUT.BOARD_OF_DIRECTORS' | translate}}
    </h3>
    <hr>

    <div class="row">
      <div class="col-md-4">
      <div class="card" style="width: 20rem; height: 12rem;">
        <div class="card-body">
          <h6 class="card-title">{{'BOARD_OF_DIRECTORS.1.NAME' | translate}}</h6>
          <p class="card-text">{{'BOARD_OF_DIRECTORS.1.A' | translate}}</p>
          <p class="card-text">{{'BOARD_OF_DIRECTORS.1.B' | translate}}</p>
          <p class="card-text">{{'BOARD_OF_DIRECTORS.1.C' | translate}}</p>
          <p class="card-text">{{'BOARD_OF_DIRECTORS.1.D' | translate}}</p>
        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 12rem;">
          <div class="card-body">
            <h6 class="card-title">{{'BOARD_OF_DIRECTORS.2.NAME' | translate}}</h6>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.2.A' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.2.B' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.2.C' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.2.D' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.2.E' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 12rem;">
          <div class="card-body">
            <h6 class="card-title">{{'BOARD_OF_DIRECTORS.3.NAME' | translate}}</h6>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.3.A' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.3.B' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.3.C' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.3.D' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.3.E' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 12rem;">
          <div class="card-body">
            <h6 class="card-title">{{'BOARD_OF_DIRECTORS.4.NAME' | translate}}</h6>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.4.A' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.4.B' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 12rem;">
          <div class="card-body">
            <h6 class="card-title">{{'BOARD_OF_DIRECTORS.5.NAME' | translate}}</h6>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.5.A' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.5.B' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 12rem;">
          <div class="card-body">
            <h6 class="card-title">{{'BOARD_OF_DIRECTORS.6.NAME' | translate}}</h6>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.6.A' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.6.B' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.6.C' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 12rem;">
          <div class="card-body">
            <h6 class="card-title">{{'BOARD_OF_DIRECTORS.7.NAME' | translate}}</h6>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.7.A' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.7.B' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 12rem;">
          <div class="card-body">
            <h6 class="card-title">{{'BOARD_OF_DIRECTORS.8.NAME' | translate}}</h6>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.8.A' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.8.B' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 12rem;">
          <div class="card-body">
            <h6 class="card-title">{{'BOARD_OF_DIRECTORS.9.NAME' | translate}}</h6>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.9.A' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.9.B' | translate}}</p>
          </div>
        </div>
      </div>

        <div class="col-md-4">
          <div class="card" style="width: 20rem; height: 12rem;">
            <div class="card-body">
              <h6 class="card-title">{{'BOARD_OF_DIRECTORS.10.NAME' | translate}}</h6>
              <p class="card-text">{{'BOARD_OF_DIRECTORS.10.A' | translate}}</p>
              <p class="card-text">{{'BOARD_OF_DIRECTORS.10.B' | translate}}</p>
              <p class="card-text">{{'BOARD_OF_DIRECTORS.10.C' | translate}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
