<section>
  <div class="container">
    <h4 class="display-4 text-danger">
      {{'BOARD_OF_DIRECTORS.HEADER' | translate}}
    </h4>
    <hr>

    <div class="row">
      <div class="col-md-4">
      <div class="card" style="width: 20rem; height: 15rem;">
        <div class="card-body">
          <h5 class="card-title">{{'BOARD_OF_DIRECTORS.MADAM_KOMALA.NAME' | translate}}</h5>
          <p class="card-text">{{'BOARD_OF_DIRECTORS.MADAM_KOMALA.DESIGNATION' | translate}}</p>
          <p class="card-text">{{'BOARD_OF_DIRECTORS.MADAM_KOMALA.MOBILE' | translate}}</p>
          <p class="card-text">{{'BOARD_OF_DIRECTORS.MADAM_KOMALA.OFFICE' | translate}}</p>
          <p class="card-text">{{'BOARD_OF_DIRECTORS.MADAM_KOMALA.EMAIL' | translate}}</p>
        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{'BOARD_OF_DIRECTORS.UDDANNA.NAME' | translate}}</h5>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.UDDANNA.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.UDDANNA.MOBILE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.UDDANNA.OFFICE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.UDDANNA.EMAIL' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{'BOARD_OF_DIRECTORS.BALACHANDRA.NAME' | translate}}</h5>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.BALACHANDRA.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.BALACHANDRA.MOBILE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.BALACHANDRA.OFFICE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.BALACHANDRA.EMAIL' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{'BOARD_OF_DIRECTORS.MALLIKARJUNA.NAME' | translate}}</h5>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.MALLIKARJUNA.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.MALLIKARJUNA.MOBILE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.MALLIKARJUNA.OFFICE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.MALLIKARJUNA.EMAIL' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{'BOARD_OF_DIRECTORS.MANOHAR.NAME' | translate}}</h5>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.MANOHAR.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.MANOHAR.MOBILE' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{'BOARD_OF_DIRECTORS.SHARANAPPA.NAME' | translate}}</h5>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SHARANAPPA.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SHARANAPPA.MOBILE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SHARANAPPA.OFFICE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SHARANAPPA.EMAIL' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{'BOARD_OF_DIRECTORS.THIMMANNA.NAME' | translate}}</h5>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.THIMMANNA.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.THIMMANNA.MOBILE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.THIMMANNA.OFFICE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.THIMMANNA.EMAIL' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{'BOARD_OF_DIRECTORS.SRIDHARA.NAME' | translate}}</h5>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SRIDHARA.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SRIDHARA.MOBILE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SRIDHARA.OFFICE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SRIDHARA.EMAIL' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{'BOARD_OF_DIRECTORS.SRIRAMAPRASAD.NAME' | translate}}</h5>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SRIRAMAPRASAD.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SRIRAMAPRASAD.MOBILE' | translate}}</p>
            <p class="card-text">{{'BOARD_OF_DIRECTORS.SRIRAMAPRASAD.OFFICE' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
