<section>
  <div class="container">
    <h4 class="display-4 text-danger">
      {{'MANUFACTURING_PROCESS.HEADER' | translate}}
    </h4>
    <hr>
    <img src="assets/images/Manufacturing_process.jpg" alt="" class="img-fluid">
    <br>
    <br>
    <p>{{'MANUFACTURING_PROCESS.DESCRIPTION1' | translate}}</p>
    <p>{{'MANUFACTURING_PROCESS.DESCRIPTION2' | translate}}</p>
    <p>{{'MANUFACTURING_PROCESS.DESCRIPTION3' | translate}}</p>
    <p>{{'MANUFACTURING_PROCESS.DESCRIPTION4' | translate}}</p>
    <p>{{'MANUFACTURING_PROCESS.DESCRIPTION5' | translate}}</p>
    <p>{{'MANUFACTURING_PROCESS.DESCRIPTION6' | translate}}</p>
    <h4 class="display-4 text-danger">
      {{'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.HEADER' | translate}}
    </h4>
    <hr>
    <p>{{'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.DESCRIPTION1' | translate}}</p>
    <p>{{'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.DESCRIPTION2' | translate}}</p>
    <p>{{'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.DESCRIPTION3' | translate}}</p>
    <p>{{'MANUFACTURING_PROCESS.PAINTING_PROCEDURE.DESCRIPTION4' | translate}}</p>
  </div>
</section>
