<section>
  <div class="container">
    <h4 class="display-4 text-danger">{{'CERTIFICATES.TITLE' | translate}}</h4>
    <hr>
    <div class="row">
      <div class="col-md-6 text-center">
        <h4 class="text-success">{{'CERTIFICATES.ISO' | translate}}</h4>
        <img src="assets/images/ISO.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 text-center">
        <h4 class="text-success">{{'CERTIFICATES.PERFORMANCE' | translate}}</h4>
        <img src="assets/images/Performance.jpg" alt="" class="img-fluid">
      </div>
    </div>
    <p>{{'CERTIFICATES.DESCRIPTION1' | translate}}</p>
    <p>{{'CERTIFICATES.DESCRIPTION2' | translate}}</p>
  </div>
</section>
