<h4>{{'RIA16.TITLE' | translate}}</h4>
<h5>{{'RIA16.HEADER1' | translate}}</h5>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">{{'RIA16.SL' | translate}}</th>
        <th scope="col">{{'RIA16.DESIGNATION' | translate}}</th>
        <th scope="col">{{'RIA16.ADDRESS' | translate}}</th>
        <th scope="col">{{'RIA16.PHONE' | translate}}</th>
        <th scope="col">{{'RIA16.EMAIL' | translate}}</th>
        <th scope="col">{{'RIA16.NAME_AND_DESIGNATION' | translate}}</th>
        <th scope="col">{{'RIA16.ADDRESS' | translate}}</th>
        <th scope="col">{{'RIA16.PHONE' | translate}}</th>
        <th scope="col">{{'RIA16.EMAIL' | translate}}</th>
        <th scope="col">{{'RIA16.SUBJECT' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{'RIA16.1.SL' | translate}}</th>
        <td>{{'RIA16.1.DESIGNATION' | translate}}</td>
        <td>{{'RIA16.1.ADDRESS' | translate}}</td>
        <td>{{'RIA16.1.PHONE' | translate}}</td>
        <td>{{'RIA16.1.EMAIL' | translate}}</td>
        <td>{{'RIA16.1.NAME_AND_DESIGNATION' | translate}}</td>
        <td>{{'RIA16.1.ADDRESS1' | translate}}</td>
        <td>{{'RIA16.1.PHONE1' | translate}}</td>
        <td>{{'RIA16.1.EMAIL1' | translate}}</td>
        <td>{{'RIA16.1.SUBJECT' | translate}}</td>
      </tr>
    </tbody>
  </table>