<section>
  <div class="container">
    <h4 class="display-4">
      {{'CENTRAL_GOVT.TITLE' | translate}}
    </h4>
    <hr>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="list-group">
          <li class="list-group-item">{{'CENTRAL_GOVT.DEPT1' | translate}}</li>
          <li class="list-group-item">{{'CENTRAL_GOVT.DEPT2' | translate}}</li>
          <li class="list-group-item">{{'CENTRAL_GOVT.DEPT3' | translate}}</li>
        </ul>
      </div>
    </div>

  </div>
</section>
