<section>
  <div class="container">
    <h4 class="display-4">
      {{'ABOUT.RIA' | translate}}
    </h4>
    <hr>
    <a routerLink="/ria/home" class="btn btn-primary">{{'RIA.TITLE' | translate}}</a>
    <a routerLink="/ria/ria1" class="btn btn-primary">{{'RIA1.TITLE' | translate}}</a>
    <a routerLink="/ria/ria2" class="btn btn-primary">{{'RIA2.TITLE' | translate}}</a>
    <a routerLink="/ria/ria3" class="btn btn-primary">{{'RIA3.TITLE' | translate}}</a>
    <a routerLink="/ria/ria4" class="btn btn-primary">{{'RIA4.TITLE' | translate}}</a>
    <a routerLink="/ria/ria5" class="btn btn-primary">{{'RIA5.TITLE' | translate}}</a>
    <a routerLink="/ria/ria6" class="btn btn-primary">{{'RIA6.TITLE' | translate}}</a>
    <a routerLink="/ria/ria7" class="btn btn-primary">{{'RIA7.TITLE' | translate}}</a>
    <a routerLink="/ria/ria8" class="btn btn-primary">{{'RIA8.TITLE' | translate}}</a>
    <a routerLink="/ria/ria9" class="btn btn-primary">{{'RIA9.TITLE' | translate}}</a>
    <a routerLink="/ria/ria10" class="btn btn-primary">{{'RIA10.TITLE' | translate}}</a>
    <a routerLink="/ria/ria11" class="btn btn-primary">{{'RIA11.TITLE' | translate}}</a>
    <router-outlet></router-outlet>
  </div>
</section>
