<section>
  <div class="container">
    <h3 class="text-danger mt-3">
      {{ "MANAGEMENT_PROFILE.HEADER" | translate }}
    </h3>
    <hr />

    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ "MANAGEMENT_PROFILE.MADAM_KOMALA.NAME" | translate }}
            </h5>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.MADAM_KOMALA.DESIGNATION" | translate }}
            </p>
            <!-- <p class="card-text">{{'MANAGEMENT_PROFILE.MADAM_KOMALA.MOBILE' | translate}}</p> -->
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.MADAM_KOMALA.OFFICE" | translate }}
            </p>
            <!-- <p class="card-text">{{'MANAGEMENT_PROFILE.MADAM_KOMALA.EMAIL' | translate}}</p> -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ "MANAGEMENT_PROFILE.UDDANNA.NAME" | translate }}
            </h5>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.UDDANNA.DESIGNATION" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.UDDANNA.MOBILE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.UDDANNA.OFFICE" | translate }}
            </p>
            <!--<p class="card-text">{{'MANAGEMENT_PROFILE.UDDANNA.EMAIL' | translate}}</p>-->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ "MANAGEMENT_PROFILE.BALACHANDRA.NAME" | translate }}
            </h5>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.BALACHANDRA.DESIGNATION" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.BALACHANDRA.MOBILE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.BALACHANDRA.OFFICE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.BALACHANDRA.EMAIL" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ "MANAGEMENT_PROFILE.MALLIKARJUNA.NAME" | translate }}
            </h5>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.MALLIKARJUNA.DESIGNATION" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.MALLIKARJUNA.MOBILE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.MALLIKARJUNA.OFFICE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.MALLIKARJUNA.EMAIL" | translate }}
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">{{'MANAGEMENT_PROFILE.MANOHAR.NAME' | translate}}</h5>
            <p class="card-text">{{'MANAGEMENT_PROFILE.MANOHAR.DESIGNATION' | translate}}</p>
            <p class="card-text">{{'MANAGEMENT_PROFILE.MANOHAR.MOBILE' | translate}}</p>
          </div>
        </div>
      </div> -->

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ "MANAGEMENT_PROFILE.SHARANAPPA.NAME" | translate }}
            </h5>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SHARANAPPA.DESIGNATION" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SHARANAPPA.MOBILE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SHARANAPPA.OFFICE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SHARANAPPA.EMAIL" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ "MANAGEMENT_PROFILE.THIMMANNA.NAME" | translate }}
            </h5>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.THIMMANNA.DESIGNATION" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.THIMMANNA.MOBILE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.THIMMANNA.OFFICE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.THIMMANNA.EMAIL" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ "MANAGEMENT_PROFILE.SRIDHARA.NAME" | translate }}
            </h5>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SRIDHARA.DESIGNATION" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SRIDHARA.MOBILE" | translate }}
            </p>
            <!--<p class="card-text">{{'MANAGEMENT_PROFILE.SRIDHARA.OFFICE' | translate}}</p>
            <p class="card-text">{{'MANAGEMENT_PROFILE.SRIDHARA.EMAIL' | translate}}</p>-->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ "MANAGEMENT_PROFILE.SRIRAMAPRASAD.NAME" | translate }}
            </h5>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SRIRAMAPRASAD.DESIGNATION" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SRIRAMAPRASAD.MOBILE" | translate }}
            </p>
            <p class="card-text">
              {{ "MANAGEMENT_PROFILE.SRIRAMAPRASAD.OFFICE" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
