<br>
<br>
<img src="assets/images/RIA.jpg" alt="" class="img-fluid img-thumbnail">
<br>
<br>
<p>{{'RIA.DESCRIPTION1' | translate}}</p>
<p>{{'RIA.DESCRIPTION2' | translate}}</p>
<h6>{{'RIA.ABOUT.TITLE' | translate}}</h6>
<p>{{'RIA.ABOUT.DESCRIPTION1' | translate}}</p>
<p>{{'RIA.ABOUT.ADDRESS' | translate}}</p>
<p>{{'RIA.ABOUT.PHONE' | translate}}</p>
<p>{{'RIA.ABOUT.FAX' | translate}}</p>
<p>{{'RIA.ABOUT.EMAIL' | translate}}</p>
<p>{{'RIA.ABOUT.WEBSITE' | translate}}</p>
<h6>{{'RIA.FUNCTION.TITLE' | translate}}</h6>
<p>{{'RIA.FUNCTION.DESCRIPTION' | translate}}</p>
<h6>{{'RIA.DUTIES1.TITLE' | translate}}</h6>
<p>{{'RIA.DUTIES1.DESCRIPTION1' | translate}}</p>
<p>{{'RIA.DUTIES1.DESCRIPTION2' | translate}}</p>
<h6>{{'RIA.POWERS.TITLE' | translate}}</h6>
<p>{{'RIA.POWERS.DESCRIPTION' | translate}}</p>
<h6>{{'RIA.DUTIES2.TITLE' | translate}}</h6>
<p>{{'RIA.DUTIES2.DESCRIPTION' | translate}}</p>
