<section>
  <div class="container">
    <h3 class="mt-3 text-danger">
      {{'STATE_GOVT.TITLE' | translate}}
    </h3>
    <hr>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="list-group">
          <li class="list-group-item">{{'STATE_GOVT.DEPT1' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT2' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT3' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT4' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT5' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT6' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT7' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT8' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT9' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT10' | translate}}</li>
          <li class="list-group-item">{{'STATE_GOVT.DEPT11' | translate}}</li>
        </ul>
      </div>
    </div>

  </div>
</section>
