<section>
  <div class="container">
    <h4 class="display-4 text-danger">
      {{'SCIENTIFIC_ESTABLISHMENTS.TITLE' | translate}}
    </h4>
    <hr>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="list-group">
          <li class="list-group-item">{{'SCIENTIFIC_ESTABLISHMENTS.DEPT1' | translate}}</li>
          <li class="list-group-item">{{'SCIENTIFIC_ESTABLISHMENTS.DEPT2' | translate}}</li>
          <li class="list-group-item">{{'SCIENTIFIC_ESTABLISHMENTS.DEPT3' | translate}}</li>
          <li class="list-group-item">{{'SCIENTIFIC_ESTABLISHMENTS.DEPT4' | translate}}</li>
        </ul>
      </div>
    </div>

  </div>
</section>
