<section>
  <div class="container">
    <h3 class="text-danger mt-3">
      {{'VISION.HEADER' | translate}}
    </h3>
    <hr>
    <img src="assets/images/Vision.jpg" alt="" class="img-fluid">
    <br>
    <br>
    <p>
      <strong>
        {{'VISION.DESCRIPTION_BOLD' | translate}}
      </strong>
    </p>
    <p>
      {{'VISION.DESCRIPTION_NORMAL1' | translate}}
    </p>
    <p>
      {{'VISION.DESCRIPTION_NORMAL2' | translate}}
    </p>
    <p>
      {{'VISION.DESCRIPTION_NORMAL3' | translate}}
    </p>
  </div>
</section>
