<section>
  <div class="container">
    <h4 class="display-4 text-danger">
      {{'RESEARCH.TITLE' | translate}}
    </h4>
    <hr>
    <img src="assets/images/research_development.jpg" alt="" class="img-fluid">
    <br>
    <br>
    <h6>{{'RESEARCH.SUB_HEADER1.HEADER' | translate}}</h6>
    <ol>
      <li>{{'RESEARCH.SUB_HEADER1.DESCRIPTION1' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER1.DESCRIPTION2' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER1.DESCRIPTION3' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER1.DESCRIPTION4' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER1.DESCRIPTION5' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER1.DESCRIPTION6' | translate}}</li>
    </ol>
    <h6>{{'RESEARCH.SUB_HEADER2.HEADER' | translate}}</h6>
    <ol>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION1' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION2' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION3' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION4' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION5' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION6' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION7' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION8' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION9' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION10' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER2.DESCRIPTION11' | translate}}</li>
    </ol>
    <h6>{{'RESEARCH.SUB_HEADER3.HEADER' | translate}}</h6>
    <ol>
      <li>{{'RESEARCH.SUB_HEADER3.DESCRIPTION1' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER3.DESCRIPTION2' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER3.DESCRIPTION3' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER3.DESCRIPTION4' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER3.DESCRIPTION5' | translate}}</li>
      <li>{{'RESEARCH.SUB_HEADER3.DESCRIPTION6' | translate}}</li>
    </ol>
    <p>{{'RESEARCH.SUB_HEADER3.ENDING' | translate}}</p>
  </div>
</section>
