<section>
  <div class="container">
    <h3 class="text-danger mt-3">
      {{'RETROFITTING.TITLE' | translate}}
    </h3>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/Retrofitting.jpg" alt="" class="img-fluid">
      </div>

      <div class="col-md-6">
        <p>{{'RETROFITTING.DESCRIPTION' | translate}}</p>
        <ul class="list-group">
          <li class="list-group-item">{{'RETROFITTING.SIEMENS' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.CROMPTON_GREAVES' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.AREVA' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.STOMBERG' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.ABB' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.VOLTAS' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.ER' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.BHEL' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.POWER_GEAR' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.MEGHAWIN' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.VIJAYA' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.VICTORY' | translate}}</li>
          <li class="list-group-item">{{'RETROFITTING.VENSON' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
