<section>
  <div class="container">
    <h4 class="display-4 text-danger">
      {{'ALL_DEALERS.TITLE' | translate}}
    </h4>
    <hr>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.INDIA.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.INDIA.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.INDIA.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.INDIA.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.INDIA.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.INDIA.EMAIL' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.INDIA_MAV.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.INDIA_MAV.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.INDIA_MAV.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.INDIA_MAV.PHONE' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.KARNATAKA.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.KARNATAKA.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.KARNATAKA.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.KARNATAKA.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.KARNATAKA.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.KARNATAKA.EMAIL' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.ANDHRA_PRADESH.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.ANDHRA_PRADESH.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.ANDHRA_PRADESH.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.ANDHRA_PRADESH.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.ANDHRA_PRADESH.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.ANDHRA_PRADESH.EMAIL' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.DELHI.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.DELHI.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.DELHI.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.DELHI.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.DELHI.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.DELHI.EMAIL' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.TAMIL_NADU.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.TAMIL_NADU.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.TAMIL_NADU.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.TAMIL_NADU.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.TAMIL_NADU.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.TAMIL_NADU.EMAIL' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.WEST_BENGAL.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.WEST_BENGAL.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.WEST_BENGAL.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.WEST_BENGAL.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.WEST_BENGAL.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.WEST_BENGAL.EMAIL' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.GUJARAT.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.GUJARAT.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.GUJARAT.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.GUJARAT.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.GUJARAT.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.GUJARAT.EMAIL' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.ODISA.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.ODISA.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.ODISA.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.ODISA.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.ODISA.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.ODISA.EMAIL' | translate}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{'ALL_DEALERS.GOA.TITLE' | translate}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'ALL_DEALERS.GOA.COMPANY' | translate}}</h5>
        <p class="card-text"><strong>{{'ALL_DEALERS.ADDRESS' | translate}}</strong> {{'ALL_DEALERS.GOA.ADDRESS' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.PHONE' | translate}}</strong> {{'ALL_DEALERS.GOA.PHONE' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.FAX' | translate}}</strong> {{'ALL_DEALERS.GOA.FAX' | translate}}</p>
        <p class="card-text"><strong>{{'ALL_DEALERS.EMAIL' | translate}}</strong> {{'ALL_DEALERS.GOA.EMAIL' | translate}}</p>
      </div>
    </div>

  </div>
</section>
