<h5>{{'RIA12.HEADER' | translate}}</h5>
<ul style="list-style: none;">
  <li>{{'RIA12.A' | translate}}</li>
  <li>{{'RIA12.B' | translate}}</li>
  <li>{{'RIA12.C' | translate}}</li>
  <li>{{'RIA12.D' | translate}}</li>
  <li>{{'RIA12.E' | translate}}</li>
</ul>
<h5>{{'RIA12.DESCRIPTION' | translate}}</h5>
<ul style="list-style: none;">
  <li>{{'RIA12.F' | translate}}</li>
  <li>{{'RIA12.G' | translate}}</li>
  <li>{{'RIA12.H' | translate}}</li>
  <li>{{'RIA12.I' | translate}}</li>
  <li>{{'RIA12.J' | translate}}</li>
  <li>{{'RIA12.K' | translate}}</li>
  <li>{{'RIA12.L' | translate}}</li>
  <li>{{'RIA12.M' | translate}}</li>
  <li>{{'RIA12.N' | translate}}</li>
  <li>{{'RIA12.O' | translate}}</li>
  <li>{{'RIA12.P' | translate}}</li>
  <li>{{'RIA12.Q' | translate}}</li>
  <li>{{'RIA12.R' | translate}}</li>
  <li>{{'RIA12.S' | translate}}</li>
  <li>{{'RIA12.T' | translate}}</li>
  <li>{{'RIA12.U' | translate}}</li>
  <li>{{'RIA12.V' | translate}}</li>
  <li>{{'RIA12.W' | translate}}</li>
</ul>
